    <h1>{{main.title}}</h1>
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="home.searchInput">
    </div>
   <h3>A list of colors- filtered from the searchbox</h3>
   <div>This list comes from local api,</div>  
<ul class="list-group">
    <li class="list-group-item" ng-repeat="color in home.colors | filter: home.searchInput"><span class="glyphicon glyphicon-star" ng-if="color.favorite"></span> {{color.color}} <span class="badge">{{color.value}}</span></li>
</ul>

<div><h3>Testing directives</h3></div>
<div standard-transclude><p>Some transcluded content.</p></div>
<div overwrite-transclude><p>I don't want to show this..embarassing</p><p>It's okay I am done with the embarassment, the second part<p></div>